<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/imgs/theme/Tab_logo.svg">
    <!-- Template CSS -->
    <link href="/adminAssets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="#" class="brand-wrap">
                <img src="/adminAssets/imgs/theme/AuraLux_Logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/page-products-list"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-person"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-person"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offers"> <i class="icon material-icons md-person"></i>
                        <span class="text">Offer Management</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/sales"> <i class="icon material-icons md-home"></i>
                        <span class="text">Sales</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i
                                class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                            aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/adminAssets/imgs/theme/flag-us.png"
                                    alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/adminAssets/imgs/theme/flag-fr.png"
                                    alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/adminAssets/imgs/theme/flag-jp.png"
                                    alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/adminAssets/imgs/theme/flag-cn.png"
                                    alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/assets/imgs/people/avatar1.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="/admin/admin-profile"><i
                                    class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Sales </h2>
                </div>
                <div class="d-flex align-items-center">
                    <select id="reportInterval" class="form-select me-2">
                        <option value="">Generate Sales Report</option>
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                        <option value="monthly">Monthly</option>
                        <option value="yearly">Yearly</option>
                        <option value="custom">Custom</option>
                    </select>
                    <div id="customDateInputs" style="display: none;">
                        <label for="" style="margin-top: 11px; margin-right: 3px;">Start </label>
                        <input id="startDateInput" type="date" class="form-control me-2" placeholder="Start Date">
                        <label for="" style="margin-top: 11px; margin-right: 3px;">End</label>
                        <input id="endDateInput" type="date" class="form-control me-2" placeholder="End Date">
                    </div>
                    <button id="generateReportBtn" class="btn btn-primary">Generate</button>
                </div>
            </div>
            <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="previewModalLabel">Sales Report Preview</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="previewModalBody" style="max-height: calc(100vh - 200px); overflow-y: auto;"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button id="generatePdfBtn" class="btn btn-primary" style="background-color: rgb(231, 119, 0);
                            border-color: rgb(231, 119, 0)">Pdf</button>
                            <button id="generateExcelBtn" class="btn btn-primary" style="background-color: rgb(15, 194, 254);
                            border-color: rgb(15, 194, 254)">Excel</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body" style="padding-right: 50px;">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Payment Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach(order=> { %>
                                    <% order.items.forEach(item=> { %>
                                        <tr>
                                            <td>
                                                <%= item.orderId %>
                                            </td>
                                            <td>
                                                <%= order.userId.name %>
                                            </td>
                                            <td>
                                                <%= order.userId.email %>
                                            </td>
                                            <td>
                                                <%= item.productId.productName %>
                                            </td>   
                                            <td>
                                                <%= item.quantity %>
                                            </td>
                                            <td>₹<%= item.price %>
                                            </td>
                                            <td>
                                                <span class="badge rounded-pill" style="background-color: <%= getStatusColor(order.status) %>">
                                                  <%= order.status %>
                                                </span>
                                            </td>
                                            <%
                                            function getStatusColor(status) {
                                                switch (status) {
                                                  case 'Delivered':
                                                    return 'green';
                                                  case 'Cancelled':
                                                    return 'red';
                                                  case 'Pending':
                                                    return 'orange';
                                                  case 'Processing':
                                                    return 'yellow';
                                                  case 'Returned':
                                                    return 'purple';
                                                  case 'Shipped':
                                                    return 'blue';
                                                  default:
                                                    return 'gray'; // Default color
                                                }
                                              }                                              
                                            %>                                              
                                            <td><span><%= order.paymentMethod %></span></td>
                                            <td>
                                                <%= order.createdAt.toLocaleDateString() %>
                                            </td> <!-- Assuming createdAt field exists in order -->
                                            <td class="text-end">
                                                <a href="/admin/orders/order-details?id=<%= item.orderId %>" class="btn btn-md rounded font-sm">Detail</a>
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown"
                                                        class="btn btn-light rounded btn-sm font-sm">
                                                        <i class="material-icons md-more_horiz"></i>
                                                    </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">View detail</a>
                                                        <a class="dropdown-item" href="#">Edit info</a>
                                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }) %>
                                            <% }) %>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% for(let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>            
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script>
        document.getElementById('reportInterval').addEventListener('change', function () {
    const customDateInputs = document.getElementById('customDateInputs');
    if (this.value === 'custom') {
        customDateInputs.style.display = 'flex';
    } else {
        customDateInputs.style.display = 'none';
    }
});

document.getElementById('generateReportBtn').addEventListener('click', async () => {
    const selectedInterval = document.getElementById('reportInterval').value;
    let startDate, endDate;

    if (selectedInterval === 'custom') {
        startDate = document.getElementById('startDateInput').value;
        endDate = document.getElementById('endDateInput').value;
    } else {

        switch (selectedInterval) {
            case 'daily':
                startDate = 0;
                endDate = 0;
                break;
            case 'weekly':
                startDate = 0;
                endDate = 0;
                break;
            case 'monthly':
                startDate = 0;
                endDate = 0;
                break;
            case 'yearly':
                startDate = 0;
                endDate = 0;
                break;
            default:
                startDate = 0;
                endDate = 0;
        }
    }

    try {
        const response = await fetch(`/admin/sales/generate-sales-report?interval=${selectedInterval}&startDate=${startDate}&endDate=${endDate}`);
        if (response.ok) {
            const blob = await response.blob();
            const url = window.URL.createObjectURL(blob);
            const previewModalBody = document.getElementById('previewModalBody');
            previewModalBody.innerHTML = `<embed src="${url}" type="application/pdf" width="100%" height="600px" />`;

            const previewModal = new bootstrap.Modal(document.getElementById('previewModal'));
            previewModal.show();
        } else {
            console.error('Failed to generate sales report');
            alert('Failed to generate sales report');
        }
    } catch (error) {
        console.error('Error generating sales report:', error);
        alert('Error generating sales report');
    }
});

document.getElementById('generatePdfBtn').addEventListener('click', async () => {
    const selectedInterval = document.getElementById('reportInterval').value;
    let startDate, endDate;

    if (selectedInterval === 'custom') {
        startDate = document.getElementById('startDateInput').value;
        endDate = document.getElementById('endDateInput').value;
    } else {
        switch (selectedInterval) {
            case 'daily':
                startDate = 0;
                endDate = 0;
                break;
            case 'weekly':
                startDate = 0;
                endDate = 0;
                break;
            case 'monthly':
                startDate = 0;
                endDate = 0;
                break;
            case 'yearly':
                startDate = 0;
                endDate = 0;
                break;
            default:
                startDate = 0;
                endDate = 0;
        }
    }

    try {
        const response = await fetch(`/admin/sales/generate-sales-report?interval=${selectedInterval}&startDate=${startDate}&endDate=${endDate}`);
        if (response.ok) {
            // If the request is successful, initiate download of the generated PDF
            const blob = await response.blob();
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = 'sales-report.pdf';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        } else {
            console.error('Failed to generate sales report');
            alert('Failed to generate sales report');
        }
    } catch (error) {
        console.error('Error generating sales report:', error);
        alert('Error generating sales report');
    }
});

document.getElementById('generateExcelBtn').addEventListener('click', async () => {
        const selectedInterval = document.getElementById('reportInterval').value;
        let startDate, endDate;

        if (selectedInterval === 'custom') {
            startDate = document.getElementById('startDateInput').value;
            endDate = document.getElementById('endDateInput').value;
        } else {
            switch (selectedInterval) {
            case 'daily':
                startDate = 0;
                endDate = 0;
                break;
            case 'weekly':
                startDate = 0;
                endDate = 0;
                break;
            case 'monthly':
                startDate = 0;
                endDate = 0;
                break;
            case 'yearly':
                startDate = 0;
                endDate = 0;
                break;
            default:
                startDate = 0;
                endDate = 0;
        }
        }

        try {
            const response = await fetch(`/admin/sales/generate-sales-report-excel?interval=${selectedInterval}&startDate=${startDate}&endDate=${endDate}`);
            if (response.ok) {
                const blob = await response.blob();
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'sales-report.xlsx'; // Excel file extension
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            } else {
                console.error('Failed to generate sales report');
                alert('Failed to generate sales report');
            }
        } catch (error) {
            console.error('Error generating sales report:', error);
            alert('Error generating sales report');
        }
    });

    </script>
    <script src="/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/adminAssets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/js/main.js" type="text/javascript"></script>
    <script src="/adminAssets/js/custom-chart.js" type="text/javascript"></script>
</body>

</html>